    @import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

@font-face {
    font-family: "belista";
    src: url("../fonts/Belista.ttf") format("truetype");
}

@font-face {
    font-family: "calisto";
    src: url("../fonts/calisto-mt.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Playfair", serif;
    font-size: clamp(1rem, 0.89rem + 0.517vw, 1.375rem);
    background-color: #EBEBE9;
    color: #664B3A;
    line-height: 1.6;
    text-align: center;
    box-sizing: border-box;
}

.icon {
    width: clamp(5.5rem, 4.767rem + 3.448vw, 8rem);
}

.close-window {
    display: none !important;
}

.block-scroll {
    overflow: hidden;
}

/* Secci贸n - Elecci贸n m煤sica */

.music {
    background-color: #EBEBE9;
    width: 100vw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    top: 0;
    z-index: 10;
    transition: opacity 0.4s ease, transform 0.4s ease;
}

.music.closing {
    opacity: 0;
    transform: translateY(-40px);
}

.music .icon {
    margin-top: clamp(0.5rem, -7.283rem + 20.755vh, 6rem);
}

.music p {
    font-size: clamp(2.25rem, 1.994rem + 1.207vw, 3.125rem);
    font-weight: bold;
}

.music-left, .music-right {
    width: clamp(4.5rem, 3.218rem + 6.034vw, 8.875rem);
    position: absolute;
    z-index: 1;
}

.music-left {
    left: 0;
    top: 0;
}

.music-right {
    right: 0;
    bottom: 0;
}

.music-names {
    width: clamp(15rem, 13.168rem + 8.621vw, 21.25rem);
}

.box--buttons {
    margin-bottom: clamp(0.5rem, -7.283rem + 20.755vh, 6rem);
    display: flex;
}

.box--buttons button {
    margin: 0 clamp(0.5rem, 0.353rem + 0.69vw, 1rem);
    font-size: clamp(1rem, 0.89rem + 0.517vw, 1.375rem);
    display: flex;
    align-items: center;
    padding: clamp(0.5rem, 0.463rem + 0.172vw, 0.625rem) clamp(0.625rem, 0.552rem + 0.345vw, 0.875rem);
}

.box--buttons button img {
    width: clamp(1rem, 0.89rem + 0.517vw, 1.375rem);
    margin-right: clamp(0.375rem, 0.338rem + 0.172vw, 0.5rem);
}

/* Esquinas superiores de hojas */

.top, .bottom {
    position: relative;
}

.top img {
    position: absolute;
    top: 0;
}

.top__left, .bottom__left {
    left: 0;
    width: clamp(5rem, 2.435rem + 12.069vw, 13.75rem);
}

.top__right, .bottom__right {
    right: 0;
    width: clamp(5rem, 2.435rem + 12.069vw, 13.75rem);
}

/* T铆tulo principal con los nombres */

.title img {
    margin-top: clamp(3.75rem, 3.384rem + 1.724vw, 5rem);
    width: clamp(14.375rem, 10.528rem + 18.103vw, 27.5rem);
}

/* Primera imagen de portada */

.cover-image {
    margin:  clamp(1.875rem, 1.325rem + 2.586vw, 3.75rem)0;
}

.cover-image img {
    width: 100%;
    max-width: 1500px;
    height: clamp(38rem, 30.819rem + 33.793vw, 62.5rem);
    object-fit: cover;

    -webkit-mask-image: linear-gradient(to bottom,
        rgba(0,0,0,0) 0%,       /* arriba transparente */
        rgba(0,0,0,1) 10%,      /* opaco */
        rgba(0,0,0,1) 90%,      /* opaco */
        rgba(0,0,0,0) 100%      /* abajo transparente */
    );
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: cover;

    mask-image: linear-gradient(to bottom,
        rgba(0,0,0,0) 0%,
        rgba(0,0,0,1) 10%,
        rgba(0,0,0,1) 90%,
        rgba(0,0,0,0) 100%
    );
    mask-repeat: no-repeat;
    mask-size: cover;
}

/* Vers铆culo principal */

.verse {
    margin-top: clamp(2.5rem, 1.95rem + 2.586vw, 4.375rem);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.verse__text {
    width: clamp(17.5rem, 13.946rem + 16.724vw, 29.625rem);
}

.verse__sep {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.verse__sep img {
    width: clamp(20.625rem, 18.976rem + 7.759vw, 26.25rem);
    position: absolute;
    top: -40px;
}

/* Padres y padrinos */

.parents {
    margin: clamp(8.125rem, 6.476rem + 7.759vw, 13.75rem) auto clamp(2.813rem, 2.171rem + 3.017vw, 5rem) auto;
}

.parents p {
    margin-top: clamp(0.5rem, 0.427rem + 0.345vw, 0.75rem);
}

.parents__separator {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: clamp(21.25rem, 20.517rem + 3.448vw, 23.75rem);
    margin: clamp(1.25rem, 0.884rem + 1.724vw, 2.5rem) auto;
}

.parents__separator img {
    height: auto;
}

.parents__separator .parents__left, .parents__separator .parents__right {
    width: clamp(5rem, 4.817rem + 0.862vw, 5.625rem);
    position: absolute;
}

.parents__separator .parents__left {
    top: 50%;
    left: 0;
}

.parents__separator .parents__center {
    width: clamp(4.375rem, 3.825rem + 2.586vw, 6.25rem);
}

.parents__separator .parents__right {
    right: 0;
    bottom: 50%;
}

.parents .parents__alone {
    font-size: clamp(1.063rem, 0.934rem + 0.603vw, 1.5rem);
    margin-top: 12px;
}

.special-text {
    font-family: "belista";
    font-size: clamp(2.5rem, 2.28rem + 1.034vw, 3.25rem);
    line-height: clamp(2.813rem, 2.611rem + 0.948vw, 3.5rem);
    margin-top: clamp(1.125rem, 1.015rem + 0.517vw, 1.5rem);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.special-text hr {
    width: clamp(13.125rem, 12.099rem + 4.828vw, 16.625rem);
    height: 2px;
    border: none;
    background-color: #C2A88F;
}

.name-text {
    font-size: clamp(1.125rem, 1.015rem + 0.517vw, 1.5rem);
}

.padrino-group img {
    display: none;
}

/* Fecha y hora */

.date {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.date__text {
    width: clamp(21.563rem, 19.089rem + 11.638vw, 30rem);
}

.date__text p span {
    font-family: "belista";
    font-size: clamp(2rem, 1.927rem + 0.345vw, 2.25rem);
    line-height: 24px;
}

.date__big {
    margin: clamp(2rem, 1.853rem + 0.69vw, 2.5rem) 0;
    display: flex;
}

.date__big img {
    width: clamp(4.063rem, 3.788rem + 1.293vw, 5rem);
}

.date__big--center {
    margin: auto clamp(0rem, -0.293rem + 1.379vw, 1rem);
}

.date__big--center p {
    font-size: clamp(3.125rem, 2.575rem + 2.586vw, 5rem);
    line-height: clamp(3.125rem, 2.575rem + 2.586vw, 5rem);
}

.date__big--center p:first-child {
    font-size: clamp(8.75rem, 8.53rem + 1.034vw, 9.5rem);
    font-family: "calisto";
    line-height: clamp(7.5rem, 7.317rem + 0.862vw, 8.125rem);
}

.date__hour {
    font-size: clamp(2rem, 1.853rem + 0.69vw, 2.5rem);
    margin-bottom: clamp(1.25rem, 0.957rem + 1.379vw, 2.25rem);
}

/* Cuenta regresiva */

.countdown {
    display: flex;
    justify-content: center;
    background-color: #C2A88F;
    width: 100%;
}

.countdown-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: clamp(21.25rem, 16.487rem + 22.414vw, 37.5rem);
    padding: clamp(0.25rem, 0.103rem + 0.69vw, 0.75rem) 0;
}

.countdown hr {
    border: none;
    width: clamp(0.125rem, 0.107rem + 0.086vw, 0.188rem);
    height: clamp(3.5rem, 3.207rem + 1.379vw, 4.5rem);
    background-color: #EBEBE9;
}

.count__number span {
    font-size: clamp(2.5rem, 2.06rem + 2.069vw, 4rem);
    line-height: clamp(3.5rem, 3.427rem + 0.345vw, 3.75rem);
}

.count__number span, .count__number p {
    color: #EBEBE9;
}

/* Ubicaci贸n */

.ubication {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: clamp(3.125rem, 2.759rem + 1.724vw, 4.375rem) 0 clamp(2.5rem, 2.317rem + 0.862vw, 3.125rem) 0;
}

button {
    font-family: "Playfair", serif;
    border: none;
    background-color: #C2A88F;
    color: #EBEBE9;
    padding: clamp(0.438rem, 0.383rem + 0.259vw, 0.625rem) clamp(1rem, 0.927rem + 0.345vw, 1.25rem);
    border-radius: clamp(0.375rem, 0.302rem + 0.345vw, 0.625rem);
    margin: clamp(1.5rem, 1.207rem + 1.379vw, 2.5rem) 0 clamp(1.5rem, 1.353rem + 0.69vw, 2rem) 0;
    font-size: clamp(1.125rem, 1.052rem + 0.345vw, 1.375rem);
    cursor: pointer;
}

button:hover {
    background-color: #664B3A;
    color: #FFFFFF;
    transition: .3s;
}

.ubication p {
    font-family: "belista";
    font-size: clamp(2.25rem, 1.884rem + 1.724vw, 3.5rem);
}

.ubi__place {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: clamp(10rem, 8.534rem + 6.897vw, 15rem);
}

.ubi__place hr {
    width: clamp(1.875rem, 1.545rem + 1.552vw, 3rem);
    height: clamp(0.125rem, 0.107rem + 0.086vw, 0.188rem);
    border: none;
    background-color: #664B3A;
}

/* Modal del papa */

.map {
    background-color: #EBEBE9;
    width: 100vw;
    height: 100dvh;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 10;
}

.icon-close {
    position: absolute;
    right: 0;
    top: 0;
    width: clamp(1.625rem, 1.552rem + 0.345vw, 1.875rem);
    margin: clamp(1rem, 0.927rem + 0.345vw, 1.25rem) clamp(1rem, 0.927rem + 0.345vw, 1.25rem) 0 0;
    cursor: pointer;
}

.modal-title {
    display: flex;
    align-items: center;
}

.modal-title img {
    width: clamp(1.625rem, 1.442rem + 0.862vw, 2.25rem);
    height: auto;
    margin-right: clamp(0.5rem, 0.427rem + 0.345vw, 0.75rem);
}

.map-title {
    font-size: clamp(1.75rem, 1.603rem + 0.69vw, 2.25rem);
    font-weight: bold;
}

.map-name {
    font-family: "belista";
    font-size: clamp(2rem, 1.67rem + 1.552vw, 3.125rem);
}

iframe {
    width: 88%;
    height: 74dvh;
    border-radius: clamp(0.375rem, 0.338rem + 0.172vw, 0.5rem);
    z-index: 2;
    margin: clamp(1.125rem, 1.052rem + 0.345vw, 1.375rem) auto;
    box-shadow: 0px 0px 4px 2px rgba(102,75,58,0.65);
    -webkit-box-shadow: 0px 0px 4px 2px rgba(102,75,58,0.65);
    -moz-box-shadow: 0px 0px 4px 2px rgba(102,75,58,0.65);
}

/* C贸digo de vestimenta */

.dress {
    background-color: #DEDDD0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dress img {
    margin-top: clamp(3.125rem, 2.759rem + 1.724vw, 4.375rem);
}

.dress-title {
    font-size: clamp(1.5rem, 1.427rem + 0.345vw, 1.75rem);
    margin-top: clamp(0.625rem, 0.515rem + 0.517vw, 1rem);
}

.dress-code {
    font-size: clamp(1.75rem, 1.603rem + 0.69vw, 2.25rem);
    font-weight: bold;
    margin: clamp(0.5rem, 0.427rem + 0.345vw, 0.75rem) 0 clamp(0.75rem, 0.64rem + 0.517vw, 1.125rem) 0;
}

.dress-text {
    width: clamp(18.125rem, 14.278rem + 18.103vw, 31.25rem);
    margin-bottom: clamp(2.5rem, 2.317rem + 0.862vw, 3.125rem);
}

/* Regalos */

.gift {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #DEDDD0;
}

.gift-title {
    margin-top: clamp(3.125rem, 2.759rem + 1.724vw, 4.375rem);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-title p {
    font-size: clamp(2rem, 1.89rem + 0.517vw, 2.375rem);
}

.gift-text {
    width: clamp(19.375rem, 13.879rem + 25.862vw, 38.125rem);
    margin: clamp(1rem, 0.853rem + 0.69vw, 1.5rem) auto;
}

.gift-container {
    margin-bottom: clamp(2.5rem, 2.317rem + 0.862vw, 3.125rem);
}

.gift-transf {
    display: flex;
    align-items: center;
    margin-bottom: clamp(1rem, 0.853rem + 0.69vw, 1.5rem);
}

.gift-transf img {
    width: clamp(2.625rem, 2.405rem + 1.034vw, 3.375rem);
    border-radius: clamp(0.625rem, 0.588rem + 0.172vw, 0.75rem);
}

.gift-number {
    text-align: left;
    margin-left: clamp(0.75rem, 0.603rem + 0.69vw, 1.25rem);
}

/* Confirmaci贸n */

.confirmation {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: clamp(3.125rem, 2.759rem + 1.724vw, 4.375rem) 0 clamp(2.5rem, 2.317rem + 0.862vw, 3.125rem) 0;
}

.confirm-text {
    font-size: clamp(1.25rem, 1.14rem + 0.517vw, 1.625rem);
    margin: clamp(0.75rem, 0.677rem + 0.345vw, 1rem) auto;
}

.confirm-date p {
    font-family: "calisto";
    font-size: clamp(8.125rem, 7.759rem + 1.724vw, 9.375rem);
    line-height: clamp(7.5rem, 7.134rem + 1.724vw, 8.75rem);
}

.confirm-date p:last-child {
    font-size: clamp(3.75rem, 3.567rem + 0.862vw, 4.375rem);
    line-height: clamp(4rem, 3.853rem + 0.69vw, 4.5rem);
}

/* Modal de confirmaci贸n y mensaje */

.atten {
    background-color: #EBEBE9;
    width: 100vw;
    height: 100dvh;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 10;
}

.atten-btn {
    padding: clamp(0.625rem, 0.552rem + 0.326vw, 0.813rem) clamp(1.125rem, 0.978rem + 0.652vw, 1.5rem);
    border-radius: clamp(0.75rem, 0.701rem + 0.217vw, 0.875rem);
    margin-top: clamp(2.5rem, 2.353rem + 0.69vw, 3rem);
    margin-bottom: clamp(1.625rem, 1.478rem + 0.652vw, 2rem);
}

.atten form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 32px;
}

.atten form input {
    width: 74%;
    height: clamp(1.625rem, 1.527rem + 0.435vw, 1.875rem);
    border: 1px solid #664B3A;
    background-color: #ECEAEB;
    margin: 8px 0;
    border-radius: 3px;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: #494949;
    font-size: clamp(0.875rem, 0.838rem + 0.172vw, 1rem);
}

.atten form input:focus, textarea:focus {
    outline: none;
    border: 2px solid #664B3A;
}

textarea {
    all: unset;
    width: 74%;
    height: 24vh;
    background-color: #ECEAEB;
    border-radius: 3px;
    text-align: justify;
    field-sizing: content;
    margin-top: 4px;
    padding: 5px;
    color: #494949;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #664B3A;
    font-size: clamp(0.875rem, 0.838rem + 0.172vw, 1rem);
    font-weight: 100;
}

textarea::content {
    padding: 5px;
}

textarea::placeholder, input::placeholder, .radiobtn-container p {
    padding: 5px;
    font-size: clamp(0.875rem, 0.851rem + 0.109vw, 0.938rem);
    font-family: Arial, Helvetica, sans-serif;
    color: #494949;
}

.radiobtn-container {
    border: 1px solid #664B3A;
    background-color: #ECEAEB;
    width: 74%;
    border-radius: 3px;
    padding: 5px;
    margin-bottom: 4px;
}

.radiobtn-container p {
    text-align: left;
    margin-bottom: clamp(0rem, -0.073rem + 0.345vw, 0.25rem);
}

.radiobtn-container label {
    display: flex;
    font-size: clamp(0.875rem, 0.851rem + 0.109vw, 0.938rem);
    font-family: Arial, Helvetica, sans-serif;
    color: #494949;
    align-items: center;
}

.radiobtn-container .radiobtn {
    width: clamp(1rem, 0.963rem + 0.172vw, 1.125rem);
    margin: 0 clamp(0.5rem, 0.463rem + 0.172vw, 0.625rem);
    cursor: pointer;
}

.radiobtn-container.active {
    border: 2px solid #664B3A;
}

/* Esquinas inferiores de hojas */

.bottom img {
    position: absolute;
    bottom: 0;
}

/* Pie de p谩gina */

.footer {
    background-color: #C2A88F;
    text-align: center;
    padding: clamp(0.688rem, 0.639rem + 0.217vw, 0.813rem) 0;
}

.footer p {
    font-size: clamp(0.688rem, 0.663rem + 0.109vw, 0.75rem);
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    margin: clamp(0.188rem, 0.163rem + 0.109vw, 0.25rem) 0;
}

.footer-social {
    margin-top: clamp(0.438rem, 0.364rem + 0.326vw, 0.625rem);
}

.ic--baseline-whatsapp {
    display: inline-block;
    width: clamp(1.188rem, 1.114rem + 0.326vw, 1.375rem);
    height: clamp(1.188rem, 1.114rem + 0.326vw, 1.375rem);
    margin: 0 8px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M19.05 4.91A9.82 9.82 0 0 0 12.04 2c-5.46 0-9.91 4.45-9.91 9.91c0 1.75.46 3.45 1.32 4.95L2.05 22l5.25-1.38c1.45.79 3.08 1.21 4.74 1.21c5.46 0 9.91-4.45 9.91-9.91c0-2.65-1.03-5.14-2.9-7.01m-7.01 15.24c-1.48 0-2.93-.4-4.2-1.15l-.3-.18l-3.12.82l.83-3.04l-.2-.31a8.26 8.26 0 0 1-1.26-4.38c0-4.54 3.7-8.24 8.24-8.24c2.2 0 4.27.86 5.82 2.42a8.18 8.18 0 0 1 2.41 5.83c.02 4.54-3.68 8.23-8.22 8.23m4.52-6.16c-.25-.12-1.47-.72-1.69-.81c-.23-.08-.39-.12-.56.12c-.17.25-.64.81-.78.97c-.14.17-.29.19-.54.06c-.25-.12-1.05-.39-1.99-1.23c-.74-.66-1.23-1.47-1.38-1.72c-.14-.25-.02-.38.11-.51c.11-.11.25-.29.37-.43s.17-.25.25-.41c.08-.17.04-.31-.02-.43s-.56-1.34-.76-1.84c-.2-.48-.41-.42-.56-.43h-.48c-.17 0-.43.06-.66.31c-.22.25-.86.85-.86 2.07s.89 2.4 1.01 2.56c.12.17 1.75 2.67 4.23 3.74c.59.26 1.05.41 1.41.52c.59.19 1.13.16 1.56.1c.48-.07 1.47-.6 1.67-1.18c.21-.58.21-1.07.14-1.18s-.22-.16-.47-.28'/%3E%3C/svg%3E");
    background-color: #ffffff;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

.mdi--instagram {
    display: inline-block;
    width: clamp(1.188rem, 1.114rem + 0.326vw, 1.375rem);
    height: clamp(1.188rem, 1.114rem + 0.326vw, 1.375rem);
    margin: 0 8px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M7.8 2h8.4C19.4 2 22 4.6 22 7.8v8.4a5.8 5.8 0 0 1-5.8 5.8H7.8C4.6 22 2 19.4 2 16.2V7.8A5.8 5.8 0 0 1 7.8 2m-.2 2A3.6 3.6 0 0 0 4 7.6v8.8C4 18.39 5.61 20 7.6 20h8.8a3.6 3.6 0 0 0 3.6-3.6V7.6C20 5.61 18.39 4 16.4 4zm9.65 1.5a1.25 1.25 0 0 1 1.25 1.25A1.25 1.25 0 0 1 17.25 8A1.25 1.25 0 0 1 16 6.75a1.25 1.25 0 0 1 1.25-1.25M12 7a5 5 0 0 1 5 5a5 5 0 0 1-5 5a5 5 0 0 1-5-5a5 5 0 0 1 5-5m0 2a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3'/%3E%3C/svg%3E");
    background-color: #ffffff;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

.ic--baseline-whatsapp:hover, .mdi--instagram:hover {
    background-color: #664B3A;
    transition: .3s;
}

@media screen and (min-width:540px) {
    iframe {
        width: 78%;
    }

    .atten form input {
        width: 70%;
    }

    textarea {
        width: 70%;
        height: 28vh;
    }

    .radiobtn-container {
        width: 70%;
    }
}

@media screen and (min-width:768px) {
    .atten form input {
        width: 66%;
    }

    textarea {
        width: 66%;
        height: 30vh;
    }

    .radiobtn-container {
        width: 66%;
    }
}

@media screen and (min-width:1024px) {
    .parents-group {
        display: flex;
        justify-content: space-between;
        width: clamp(37rem, 30.546rem + 10.084vw, 40rem);
        margin: clamp(1rem, -0.076rem + 1.681vw, 1.5rem) auto;
    }

    .parents__left, .parents__right {
        display: none;
    }

    .padrino-group {
        display: flex;
        justify-content: center;
        margin-top: clamp(0rem, -2.151rem + 3.361vw, 1rem);
    }

    .padrino-group img {
        display: block;
        width: clamp(6.25rem, 3.561rem + 4.202vw, 7.5rem);
    }

    .padrino {
        margin: auto clamp(0.75rem, -0.863rem + 2.521vw, 1.5rem);
    }

    iframe {
        width: 60%;
    }

    .atten form input {
        width: 44%;
    }

    textarea {
        width: 44%;
        height: 32vh;
    }

    .radiobtn-container {
        width: 44%;
    }
}


/*  Animaciones de aparici贸n elegantes */
.reveal {
  opacity: 0;
  transform: translateY(40px);
  transition: all 1s ease;
}
.reveal.active {
  opacity: 1;
  transform: translateY(0);
}

/* Variantes */
.reveal-left { transform: translateX(-50px); }
.reveal-right { transform: translateX(50px); }
.reveal-zoom { transform: scale(0.95); }

.reveal-left.active,
.reveal-right.active,
.reveal-zoom.active {
  transform: none;
  opacity: 1;
}

/*  Animaci贸n escalonada para countdown */
.count__number {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.8s ease;
}
.count__number.active {
  opacity: 1;
  transform: translateY(0);
}

/*  Bot贸n con rebote elegante */
button {
  transition: transform 0.2s ease, background-color 0.3s ease;
}
button:hover {
  transform: scale(1.05);
}
button:active {
  transform: scale(0.95);
}
